.blockWrapper {
  margin: 0 auto;
  width: 1104px;
  margin-top: 20px;
  background: rgba(23, 32, 54, 0.8);
  border-radius: 20px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.blockWrapper:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.blockWrapper p {
  color: rgba(161, 161, 170, 1);
}

.blockLargeContainer {
  padding: 25px;
  padding-bottom: 20px;
  color: rgba(161, 161, 170, 1);
  margin-bottom: 20px;
}

.blockLargeContainer > p {
  font-size: 14px;
  font-weight: normal;
}

.blockLargeContainer h2 {
  font-size: 20px;
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.blockContainer4 {
  margin-top: 20px;
  font-size: 16px;
}

.inputAdditional {
  border-radius: 16px;
  width: 100%;
  min-height: 120px;
  border: none;
  padding: 20px;
  color: var(--text-color-white);
  background: rgba(13, 17, 23, 0.5);
  resize: vertical;
}

.inputAdditional::placeholder {
  color: rgba(133, 178, 249, 0.4);
  font-weight: bold;
}

.inputAdditional:focus {
  outline: none;
  background: #1d2c4a;
}

.helperText {
  font-size: 11.6px;
  margin-top: 10px;
}
