.howWorksContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* height: 1117px; */
  background: var(--gradient-hero);
  color: var(--text-color-blue);
}
.howWorksContainer h1 {
  margin-top: 60px;
  font-family: var(--font-inter);
  font-weight: 700;
  font-style: Bold;
  font-size: 47.06px;
  line-height: 48px;
  color: var(--text-color-white);
  margin-bottom: 40px;
}
.howWorksContainer h1 span {
  color: var(--text-color-blue);
}
.howWorksContainer p {
  color: var(--text-color-white);
  font-size: 22.13px;
  line-height: 32px;
}
.section1 {
  display: flex;
  width: 1155px;
  align-items: center;
  justify-content: space-between;
}
.section1block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1block h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 56.72px;
  line-height: 60px;
  color: rgba(85, 147, 247, 0.2);
}
.section1block h3 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color-white);
}
.section1block p {
  font-weight: 400;
  font-size: 16.5px;
  line-height: 24px;
  color: var(--text-color-white);
}
.page2Icons {
  background: var(--button-blue-background);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2Icons3 {
  transform: rotate(180deg);
}
.section2 {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 896px;
  height: 257px;

  border-radius: 24px;

  padding: 33px;
  background: rgba(23, 32, 54, 0.8);
  border: 1px solid rgba(85, 147, 247, 0.3);
}
.section2 h1 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  font-style: Bold;
  font-size: 23px;
  line-height: 32px;
  color: var(--text-color-white);
}
.section2blocksGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.divBlock {
  width: 399px;
  height: 138px;

  border-radius: 16px;
  margin-left: 20px;
  /* padding: 25px; */
  border: 1px solid rgba(85, 147, 247, 0.3);
  background: rgba(23, 32, 54, 0.8);
}
.section2blocksGroup p {
  font-size: 16.73px;
  line-height: 20px;
}
.lineOfBalls {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 20px;
}
.lineOfBalls div {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.lineOfBalls div:nth-child(1) {
  background: rgba(239, 68, 68, 1);
}
.lineOfBalls div:nth-child(2) {
  background: rgba(234, 179, 8, 1);
}
.lineOfBalls div:nth-child(3) {
  background: rgba(34, 197, 94, 1);
}
.blockLine {
  margin: 20px;
  width: 100%-40px;
  height: 12px;
  border-radius: 12px;
  background: linear-gradient(91.97deg, #5593f7 0%, #85b2f9 100%);
}
.lineOfBallsDown {
  display: flex;
  align-items: center;
  margin-top: -20px;
}
.lineOfBallsDown div {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid rgba(33, 41, 54, 0.8);
}
.lineOfBallsDown div:nth-child(1) {
  background: rgba(34, 197, 94, 1);
}
.lineOfBallsDown div:nth-child(2) {
  background: rgba(59, 130, 246, 1);
  margin-left: -8px;
}
.lineOfBallsDown div:nth-child(3) {
  background: rgba(168, 85, 247, 1);
  margin-left: -8px;
}
.lineOfBallsDown span {
  font-size: 13.02px;
  margin-left: 15px;
}
