.summary_button_area {
  height: 117px;
  width: 100%;
  background: rgba(13, 17, 23, 0.8);
  border-top: 1px solid rgba(33, 44, 59, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary_button {
  width: 1104px;
  height: 68px;
  display: flex;
  justify-content: space-between;
}

.buttonAndText {
  width: 100%;
  font-size: 13.7px;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(148, 163, 184, 1);
}

.buttonTokenCost {
  background: rgba(60, 131, 246, 0.1);
  border: 2px solid rgba(60, 131, 246, 0.5);
  border-radius: 12px;
  width: 96px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11.7px;
  gap: 5px;
}

.tokenCostNumber {
  font-size: 22.7px;
  font-weight: bold;
  color: #3c83f6;
}
