.heroDivImage {
  margin-top: 35px;
  position: relative;
  border: 2px dashed rgba(85, 147, 247, 0.4);
  box-shadow: 0px 8px 32px 0px rgba(11, 17, 30, 0.3);

  backdrop-filter: blur(12px);
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 888px;
  height: 348px;
}
.dragImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(85, 147, 247, 0.4);
  z-index: 700;
}
.heroDivImage h2 {
  position: absolute;
  color: var(--text-color-white);
  top: 150px;
}
.heroDivImage p {
  position: absolute;
  top: 185px;
}
.dropIcon {
  position: absolute;
  top: 50px;
}
.heroImage {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}
.heroBlurImage {
  position: absolute;
  width: 100%;
  height: 100%;
  /* filter: blur(16px); */
  background: rgba(0, 11, 22, 0.9);
  opacity: 0.7;
}

.chooseFileButton {
  position: absolute;
  color: var(--background-one);
  background: transparent;
  top: 250px;
  left: 360px;

  /* width: 198px;
  height: 44px; */

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.heroDivImage input[type="file"] {
  color: transparent;
  font-size: 0;
  background: transparent;
}
.heroDivImage input[type="file"]::file-selector-button {
  /* visibility: hidden; */
  background: var(--button-blue-background);
  position: absolute;
  /* z-index: 100; */

  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 30px; */
  width: 198px;
  height: 44px;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
}
/* .heroDivImage label {
  color: transparent;
  font-size: 0;
  background: transparent;
} */
.heroDivImage label {
  background: var(--button-blue-background);
  color: var(--background-one);
  position: absolute;
  padding-top: 12px;
  padding-left: 60px;
  top: 240px;
  left: 39%;
  /* transform: translateX(-50%); */
  width: 198px;
  height: 44px;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  font-size: 16px;
  transform: scale(1);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* initial shadow */
  transition: transform 0.2s ease, box-shadow 0.1s ease; /* smooth */
}
.heroDivImage label:hover {
  background: rgba(164, 194, 225, 0.8);
  cursor: pointer;
  color: white;
}
.heroDivImage label:active {
  position: absolute;
  top: 240px;
  /* left: 50%;
  transform: translateX(-50%); */
  /* transform: translateX(-50%) scale(0.96); */
  transform: scale(0.96);
  transition: transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* shadow reduces */
}
