.heroContainer {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  /* height: 100vh; */
  /* height: 970px; */
  background: var(--gradient-hero);
  color: var(--text-color-blue);
  padding-bottom: 20px;
}
.aiIntelligence {
  width: 288px;
  height: 56px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  border-radius: 12px;

  background: linear-gradient(
    79.71deg,
    rgba(60, 131, 246, 0.4) 0%,
    rgba(60, 131, 246, 0) 50%,
    rgba(109, 162, 248, 0.4) 100%
  );
  border-top: 1px solid var(--color-azure-6030, rgba(60, 131, 246, 0.3));
}
.aiIntelligence span {
  margin-left: 20px;
  color: var(--text-color-white);
}
.heading1 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: line height/60;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 25px;
}
.heading1 p {
  color: var(--text-color-white);
  margin-bottom: -9px;
}
.heading1 span {
  color: var(--text-color-blue);
}
.heading2 {
  text-align: center;
  margin-top: 30px;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color-white);
}

.heroTwoButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20px;  */
  margin-top: 30px;
  border-radius: 16px;
}
.heroTwoButtonsContainer button {
  border: none;
  border-radius: 16px;
  height: 44px;
}

.heroTwoButtonsContainer button:first-child {
  margin-right: 20px;
  width: 294px;
  background: var(--button-blue-background);
  color: var(--background-one);
  font-weight: bold;
}
.heroTwoButtonsContainer button:nth-child(2) {
  background: rgba(23, 32, 54, 0.8);
  color: var(--text-color-white);
  border: 1px solid rgba(85, 147, 247, 0.3);
  width: 192px;
}
.heroDownBlock {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;

  /* 
    width: 100%;
    height: 100px;
    background: var(--gradient-section);
    border-radius: 16px; */
}
.heroDownBlock span:nth-child(2n + 1) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.heroDownBlock span:nth-child(1) {
  background: rgba(34, 197, 94, 1);
}
.heroDownBlock span:nth-child(3) {
  background: rgba(59, 130, 246, 1);
}
.heroDownBlock span:nth-child(5) {
  background: rgba(168, 85, 247, 1);
}
.heroDownBlock span:nth-child(2),
.heroDownBlock span:nth-child(4) {
  margin-right: 30px;
}
รท .heroDownBlock span:nth-child(2n) {
  font-size: 13.34px;
}
