.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: auto;
  /* background-color: var(--background-two); */
}
.container {
  max-width: 100%;
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.flexLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logoBox {
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 10000; */
}
.logoText {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--text-color-white);
  margin-left: 10px;
}
.logoImgWrap {
  width: 40px;
  height: 40px;
  border-radius: 12px; /* or 50% if you want circle */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
