.userProfileContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.initials {
  width: 50px;
  height: 50px;
  background: var(--gradient-primary);
  color: var(--text-color-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}
