.formControl {
  padding: 1px 20px;
  position: relative;
  width: 90%;
}

.formControl input,
.formControl label {
  width: 100%;
  color: #33059e;
  margin-bottom: 5px;
}

/* .formControl label {
  font-weight: 400;
} */

.formControl input {
  /* font: inherit; */
  padding: 15px 20px;
  /* border-radius: 4px; */
  margin: 10px 0px 5px;

  background: var(--background-input-text);
  color: var(--input-text-color);
  border-radius: 12px;
  border-color: var(--border-color-input);
  height: 56px;
}

.formControl input:focus {
  outline: none;
  border-color: var(--border-color-input-focus);
  background: var(--background-input-text-focus);
  color: var(--input-text-color);
}
.formControl input:focus::after {
  outline: none;
  border-color: var(--border-color-input-focus);
  background: var(--background-input-text-focus);
  color: var(--input-text-color);
}
.formControl h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.formControlInvalid input {
  border: 1px solid rgba(254, 111, 146, 1);
  background-color: var(--background-input-text-notwritten);
}

/* .formControlInvalid input:focus {
  border-color: #240370;
} */

.controlGroup {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* column-gap: 1rem;
  flex-wrap: wrap; */
}

.controlGroup .formControl {
  /* min-width: 15rem; */
  flex: 1;
}

.formActions button {
  font: inherit;
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.formActions button:hover,
.formActions button:active {
  background-color: #33059e;
  border-color: #33059e;
}

.formActions button:disabled,
.formActions button:disabled:hover,
.formActions button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.formActions {
  text-align: right;
}

.formActions button {
  margin-left: 1rem;
}

.errorText {
  color: rgba(254, 111, 146, 1);
  font-size: 12px;
  font-weight: bold;
  position: absolute;

  margin-top: 0px;
}
.inputAndIcon {
  display: flex;
  width: 100%;
}
.inputAndIcon span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 10px;
}
.formControl p {
  height: 14px;
  font-size: 12px;
  text-align: left;
  margin-bottom: 30px;
}
