.container {
  background: var(--gradient-section);
  padding: 50px;
  padding-top: 150px;
}

.left_panel {
  position: fixed;
  top: 257px;
  left: 50px;
  width: 256px;
  margin-right: 40px;
  padding: 30px 25px 30px;
  color: var(--text-color-light-gray);
  border: 1px solid rgba(33, 44, 59, 0.2);
  /* height: 30vh; */
  border-radius: 20px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
}
.left_panel_down {
  top: 590px;
}
/* .navbar {
  padding-bottom: 50px;
} */
.nav_button {
  font-size: 13.23px;
  /* width: 300px; */
  border: 1px;
  border-radius: 12px;
  padding: 11px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  color: var(--text-color-light-gray);
  transition: all 0.25s ease;
}

.active {
  background: rgba(60, 131, 246, 0.15);
  color: var(--text-color-blue-intens);
  /* border-left: 3px solid #3c83f6; */
}
.nav_button:hover {
  background: rgba(59, 130, 246, 0.1);
  color: var(--text-color-blue-intens);
}

.nav_button p {
  font-size: 11.25px;
  margin-top: 3px;
  color: var(--text-color-light-gray);
}
.center_panel {
  margin-left: 320px;
  scroll-margin-top: 364px;
  /* border: 1px solid rgba(33, 44, 59, 0.2); */
  /* height: 289vh; */
}
.center_panel h1 {
  font-size: 27.66px;
  color: var(--text-color-blue);
}
.center_panel h1 span {
  color: var(--text-color-white);
}
.center_panel p {
  font-size: 16.73px;
  margin-top: 15px;
  color: var(--text-color-light-gray);
}
.history_id {
  position: absolute;
  top: 500px;
  left: 500px;
}
.array_panel {
  padding: 40px 40px;
  max-width: 888px;
  /* margin-right: 40px; */
  margin: 30px 0;
  border: 1px solid rgba(33, 44, 59, 0.2);
  /* height: 50vh; */
  border-radius: 20px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
}
.array_panel h2 {
  font-size: 19.53px;
  color: var(--text-color-blue);
}
.array_panel p {
  font-size: 13.02px;
  color: var(--text-color-light-gray);
}
.array_panel p span {
  font-weight: bold;
}
.check_icon {
  background: rgba(22, 29, 39, 1);

  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.list {
  margin: 30px 20px;
  max-height: 400px;
  overflow-y: auto;
}
.list_item {
  /* width: 100%; */
  border-radius: 12px;
  box-shadow:
    0 10px 10px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
  padding: 17px;
  margin: 12px;
  display: flex;
  justify-content: space-between;
}
.list_item_filename_and_attr {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.list_item_filename h4 {
  color: var(--text-color-white);
  /* font-weight: bold; */
  font-size: 15.38px;
}
.list_item_date_number {
  margin-top: 8px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.list_item_date_number h4 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12.91px;
  color: var(--text-color-light-gray);
}
.list_item_date_number h5 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12.8px;
  color: var(--text-color-light-gray);
}
.analitics_greed {
  margin-top: 20px;
  display: grid;
  gap: 24px;
  max-width: 888px;
  grid-template-columns: 1fr 1fr;
}
.analitics_greed_section {
  background: rgba(15, 19, 26, 1);
  border-radius: 12px;
  height: 130px;
}
