.wrapper {
  background: var(--gradient-section);
  padding: 50px;
  padding-top: 150px;
}

.left_panel {
  position: fixed;
  top: 100px;
  left: 30px;
  width: 250px;
  margin-right: 40px;
  border: 1px solid rgba(33, 44, 59, 0.2);
  height: 30vh;
  border-radius: 20px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
}
.center_panel {
  margin-left: 320px;
  border: 1px solid rgba(33, 44, 59, 0.2);
  height: 289vh;
}

.container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradient-hero);
  color: var(--text-color-white);
  transition:
    background 2s,
    color 2s,
    border-color 2s;
}
.container h1 {
  margin-top: 80px;
  margin-bottom: 20px;
}
.gridContainer {
  margin-top: 40px;
  display: grid;
  /* sgrid-template-columns: 200px, 300px; */
  grid-template-columns: 5fr 12fr;
  gap: 30px;
  /* padding: 0 20px; */
  width: 1152px;
  height: 700px;
}
.flexContainerLeftWrapper {
  padding: 30px;
  background: rgba(20, 28, 49, 1);
  border-radius: 24px;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}
.flexContainerLeft {
  background: rgba(23, 35, 59, 1);
  padding: 20px;
}
.flexContainerRight {
  background: rgba(20, 28, 49, 1);
}
.flexContainerRight h2 {
  width: 90%;
  margin: 0 auto;
}
.selectedFileBox {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  background: rgba(60, 131, 246, 0.05);
  color: rgba(161, 161, 170, 1);
  border-radius: 20px;
}
