.container {
  background: var(--gradient-section);
  padding: 50px;
  padding-top: 150px;
}

.left_panel {
  position: fixed;
  top: 257px;
  left: 50px;
  width: 256px;
  margin-right: 40px;
  padding: 30px 25px;
  color: var(--text-color-light-gray);
  border: 1px solid rgba(33, 44, 59, 0.2);
  height: 30vh;
  border-radius: 20px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
}
.nav_button {
  font-size: 13.23px;
  color: var(--text-color-blue-intens);
  /* width: 300px; */
  border: 1px;
  border-radius: 12px;
  padding: 11px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
.nav_button:hover {
  background: rgba(59, 130, 246, 0.1);
}
.upload_icon {
  background: lavender;
}
.nav_button p {
  font-size: 11.25px;
  margin-top: 3px;
  color: var(--text-color-light-gray);
}
.center_panel {
  margin-left: 320px;
  scroll-margin-top: 364px;
  /* border: 1px solid rgba(33, 44, 59, 0.2); */
  /* height: 289vh; */
}
.center_panel h1 {
  font-size: 27.66px;
  color: var(--text-color-blue);
}
.center_panel h1 span {
  color: var(--text-color-white);
}
.center_panel p {
  font-size: 16.73px;
  margin-top: 15px;
  color: var(--text-color-light-gray);
}

.array_panel {
  padding: 40px 30px;
  max-width: 888px;
  /* margin-right: 40px; */
  margin-top: 30px;
  border: 1px solid rgba(33, 44, 59, 0.2);
  /* height: 50vh; */
  border-radius: 20px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
}
.array_panel h2 {
  font-size: 19.53px;
  color: var(--text-color-blue);
}
.array_panel p {
  font-size: 13.02px;
  color: var(--text-color-light-gray);
}
.array_panel p span {
  font-weight: bold;
}
.check_icon {
  background: rgba(22, 29, 39, 1);

  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.list {
  margin: 30px 20px;
  max-height: 400px;
  overflow-y: auto;
}
.list_item {
  /* width: 100%; */
  border-radius: 12px;
  box-shadow:
    0 10px 10px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 255, 255, 0.05);
  padding: 17px;
  margin: 6px;
  display: flex;
  justify-content: space-between;
}
.list_item_filename {
  display: flex;
  justify-content: space-between;
}
.list_item_date_number {
  display: flex;
  justify-content: space-between;
}
/* .container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradient-hero);
  color: var(--text-color-white);
  transition:
    background 2s,
    color 2s,
    border-color 2s;
}
.container h1 {
  margin-top: 80px;
  margin-bottom: 20px;
} */
