.wrapper {
  background: var(--gradient-section);
  padding-top: 200px;
}
.container {
  max-width: 896px;
  margin: 0 auto;
  color: var(--text-color-white);
  font-weight: bold;
}
.container h1 {
  font-size: 35.02px;
  margin-bottom: 10px;
}
.container h4 {
  color: var(--text-color-light-gray);
  margin-bottom: 20px;
}
.info_block {
  padding: 40px;
  gap: 20px;
  margin-bottom: 30px;
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.account_info_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.account_info_grid_name {
  display: flex;
}
.subscription_block span {
  background: var(--btn-primary-color-blue);
  padding: 5px 15px;
  border-radius: 15px;
  margin: 10px 10px;
}
.userPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.initials {
  width: 50px;
  height: 50px;
  background: var(--gradient-primary);
  color: var(--text-color-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}
.line {
  width: 95%;
  border: 1px solid var(--glass-border);
}
.subscription_block {
  padding: 40px;
  gap: 20px;
  margin-bottom: 30px;
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.subscription_block h4 {
  border: 1px solid var(--glass-border);
  padding: 20px;
}
