.wrapper {
  background: rgba(15, 19, 26, 1);
  padding-top: 100px;
  padding-bottom: 50px;
}
.container {
  max-width: 896px;
  margin: 0 auto;

  color: var(--text-color-blue-intens);
  font-weight: bold;
}
.container h1 {
  font-size: 35.02px;
  margin-bottom: 10px;
  color: var(--text-color-white);
}
.container h2 {
  color: var(--text-color-white);
  font-size: 19.22px;
}
.container h4 {
  color: var(--text-color-light-gray);
  margin-bottom: 20px;
}
.container h5 {
  font-size: 15.25px;
  margin-top: 15px;
  font-weight: 400;
  color: var(--text-color-white);
}
.container h6 {
  font-size: 13.56px;
  color: var(--text-color-white);
}
.info_block {
  padding: 30px;
  gap: 20px;
  margin-bottom: 30px;
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  /* background: rgba(15, 19, 26, 1); */
}
.info_block_title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 19.22px;
}
.info_block_title span {
  color: var(--text-color-blue-intens);
}
.account_info_grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.account_info_grid_name {
  gap: 25px;
  display: flex;
  align-items: center;
}
.account_info_grid_email {
  display: flex;
}
.account_info_grid_email span {
  margin-right: 10px;
}

.userPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.initials {
  width: 80px;
  height: 80px;
  font-size: 17.86px;
  background: rgba(59, 130, 246, 0.1);
  color: var(--text-color-blue-intens);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid rgba(60, 131, 246, 0.2);
}

.subscription_block {
  /* background: rgba(15, 19, 26, 1); */
  padding: 40px;
  gap: 20px;
  margin-bottom: 30px;
  border: 1px solid var(--glass-border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.subscription_grid_left span {
  background: var(--btn-primary-color-blue);
  padding: 7px 25px;
  border-radius: 15px;
  margin: 10px 10px;
}
.subscription_grid_left h6 {
  margin-bottom: 70px;
}
.subscription_grid_right section {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}
.subscription_grid_right span {
  color: var(--text-color-blue-intens);
  font-size: 20px;
  font-weight: bold;
}
.subscription_grid_right p {
  color: var(--text-color-blue-intens);
  font-size: 15px;
  font-weight: bold;
}
.buttons_block {
  display: flex;
  justify-content: space-between;
}
.buttons_block span {
  color: rgba(214, 67, 67, 0.6);
}
