.headerContainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  /* border-bottom: 1px solid var(--color-border); */
  backdrop-filter: blur(10px);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* background: rgba(23, 32, 54, 0.8); */
}
.container {
  /* background: #172036cc; */
  /* background: var(--header-background); */
  /* background: lavender; */
  max-width: 100%; /* or your preferred max width */
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.initials {
  width: 50px;
  height: 50px;
  background: var(--gradient-primary);
  color: var(--text-color-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}
.flexContainer {
  width: 1356px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.flexLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logoBox span {
}
.logoBox {
  /* width: 2rem; 
  height: 2rem;  */

  border-radius: 50%; /* rounded-lg = 8px */
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
}
.logoBigLetter {
  color: var(--primary-foreground);
  font-weight: 700;

  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.logoText {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */

  font-weight: 700;
  color: var(--text-color-white);
  margin-left: 10px;
}
.test {
  z-index: 200;

  position: absolute;
  top: 100px;
  right: 70px;
  background: red;
  color: white;
}
.stest {
  z-index: 200;

  position: absolute;
  top: 130px;
  right: 220px;
  background: red;
  color: white;
}
.picture {
  /* width: 50px;
  height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
