.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  /* height: 100vh; */
  height: 1117px;
  background: var(--gradient-hero);
  color: var(--text-color-blue);
}
.aiIntelligence {
  width: 288px;
  height: 56px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  border-radius: 12px;

  background: linear-gradient(
    79.71deg,
    rgba(60, 131, 246, 0.4) 0%,
    rgba(60, 131, 246, 0) 50%,
    rgba(109, 162, 248, 0.4) 100%
  );
  border-top: 1px solid var(--color-azure-6030, rgba(60, 131, 246, 0.3));
}
.aiIntelligence span {
  margin-left: 20px;
  color: var(--text-white);
}
.heading1 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-style: Bold;
  font-size: 58.83px;
  line-height: line height/60;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 25px;
}
.heading1 p {
  color: var(--text-color-white);
  margin-bottom: -9px;
}
.heading1 span {
  color: var(--text-color-blue);
}
.heading2 {
  text-align: center;
  margin-top: 30px;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color-white);
}
.heroDivImage {
  margin-top: 35px;
  position: relative;
  border: 2px dashed rgba(85, 147, 247, 0.4);
  box-shadow: 0px 8px 32px 0px rgba(11, 17, 30, 0.3);

  backdrop-filter: blur(12px);
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.heroDivImage p {
  position: absolute;
  top: 120px;
}
.dropIcon {
  position: absolute;
  top: 10px;
}
.heroImage {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}
.heroBlurImage {
  position: absolute;
  width: 100%;
  height: 100%;
  /* filter: blur(16px); */
  background: rgba(2, 10, 24, 0.9);
  opacity: 0.5;
}
