.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --gradient-primary: linear-gradient(
    135deg,
    hsl(217 91% 65%),
    hsl(217 91% 75%)
  );
  --gradient-secondary: linear-gradient(
    135deg,
    hsl(222 40% 15%),
    hsl(222 40% 12%)
  );
  /* --gradient-hero: linear-gradient(
    360deg,
    hsl(222, 18%, 49%) 0%,
    hsl(222 40% 12%) 50%,
    hsl(222 47% 6%) 100%
  ); */
  --gradient-section: linear-gradient(
    180deg,
    hsl(222 47% 8%) 0%,
    hsl(222 40% 6%) 100%
  );
  --gradient-alt: linear-gradient(
    135deg,
    hsl(222 40% 6%) 0%,
    hsl(222 47% 8%) 50%,
    hsl(222 40% 12%) 100%
  );

  /* display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh; */
  /* padding: 80px; */
  gap: 64px;
  font-family: var(--font-inter);
  /* font-family: var(--font-geist-sans); */
  /* background: var(--gradient-hero); */
  /* background: linear-gradient(
    135deg,
    hsl(222 47% 8%) 0%,
    hsl(222 40% 12%) 50%,
    hsl(222 47% 6%) 100%
  ); */
  .supportContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 1117px; */
    width: 100vw;
  }
}
