.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color-white);
  /* height: 1117px; */
  /* width: 100vw; */
}
.container h1 {
  margin-top: 70px;
  font-family: var(--font-inter);
  font-weight: 700;
  font-style: Bold;
  font-size: 47.06px;
  line-height: 48px;
  /* color: var(--text-color-white); */
  margin-bottom: 40px;
}
.container h1 span {
  color: var(--text-color-blue);
}
.container p {
  /* color: var(--text-color-white); */
  font-size: 22.13px;
  line-height: 28px;
}
.gridContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  /* padding: 0 20px; */
  width: 1152px;
}
.cartBox {
  background: rgba(23, 32, 54, 0.8);
  border-radius: 16px;
  padding: 35px;
  position: relative;
  height: 416px;
}
.cartBox p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
}
.logoBlok {
  position: absolute;
  bottom: 10px;
  left: 35px;
  margin-bottom: 40px;
}
.flexBoxic {
  display: flex;
}
.logoBox {
  background: linear-gradient(135.1deg, #5593f7 0%, #85b2f9 100%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(11, 17, 30, 1);
  font-size: 16px;
  font-weight: bold;
}
.star {
  margin-bottom: 20px;
  color: rgba(234, 179, 8, 1);
}
.prof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.prof h4 {
  font-size: 16px;

  height: 24px;
}
.prof h5 {
  font-weight: 400;
  font-size: 15px;
  color: rgba(95, 156, 255, 1);
}
