.container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 16px 0;
}

.input {
  width: 48px;
  height: 48px;
  font-size: 24px;
  text-align: center;
  border: 0.5px solid rgba(92, 144, 225, 1);
  border-radius: 6px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
  color: white;
  background: rgba(33, 44, 59, 1);
}

.input:focus {
  border-color: #0070f3;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.button {
  margin-top: 20px;
  background: #0070f3;
  width: 359px;
  height: 50px;

  font-weight: bold;
  color: antiquewhite;
  border: none;
  padding: 10px 20px;

  border-radius: 14px;
  font-size: 13.45px;

  cursor: pointer;

  transition: transform 0.1s ease, box-shadow 0.15s ease;
  background: rgba(97, 146, 225, 0.9);
}

.button:hover:enabled {
  background: #0059c1;
}

.button:disabled {
  color: rgba(148, 163, 184, 0.5);

  background: rgba(60, 131, 246, 0.3);
}
.button:active {
  transform: scale(0.95);
}
