.blockWrapper {
  margin: 0 auto;
  width: 1104px;
  margin-top: 20px;
  background: rgba(23, 32, 54, 0.8);
  border-radius: 20px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.blockWrapper:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.blockWrapper p {
  color: rgba(161, 161, 170, 1);
}

.blockLargeContainer {
  padding: 25px;
  padding-bottom: 20px;
  color: rgba(161, 161, 170, 1);
  margin-bottom: 20px;
}

.blockLargeContainer > p {
  font-size: 14px;
  font-weight: normal;
}

.blockLargeContainer h2 {
  font-size: 20px;
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.sliderRange {
  margin-left: 0px;
}

.smallMediumLargeBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: rgba(148, 163, 184, 1);
  margin-bottom: 20px;
  margin-top: -17px;
}

.mediumLabel {
  color: #3c83f6;
}

.estimatedBox {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background: rgba(60, 131, 246, 0.05);
  border: 1px solid rgba(60, 131, 246, 0.2);
  padding: 17px;
}

.estimatedLeft {
  font-size: 20px;
  color: #3c83f6;
  font-weight: bold;
}

.estimatedLeftText {
  color: white;
}

.estimatedRight {
  font-size: 24px;
  color: #3c83f6;
  font-weight: bold;
}

.wordsLabel {
  font-size: 16px;
  font-weight: normal;
}
